/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    /* COLORS */
    /* Change Favorite Colors */

    --putih: #fff;
    --accent-color: #0a1f29;
    --abu-abu: #f5f5f5;
    --abu-abu-tua: #222222;

    /* FONTS and TYPOGRAPHY */
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px,... */
    /* Font Size */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font Weight */
    --font-light: 100;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font Size for Large Device */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.homeJumbotron {
    height: 795px;
    background-image: url("../img/homeBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    color: var(--putih);
    letter-spacing: 2px;
}

.homeJumbotron p {
    font-size: var(--h3-font-size);
}

.tombolSelengkapnya {
    width: 328px;
    height: 75px;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--putih);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.searchBox {
    height: fit-content;
    background-color: var(--putih);
    border: 1px solid #c0c0c0;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.searchBox button.buttonCari {
    height: fit-content;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--putih);
    border: none;
    border-radius: 5px;
}

.jumlahMobil {
    width: 100%;
    height: 50px;
    background-color: var(--abu-abu);
    color: var(--accent-color);
    font-size: var(--normal-font-size);
    box-shadow: -3px 4px 0px 0px #9e9e9e;
    box-sizing: border-box;
}

.cardMobil {
    width: 100%;
    height: fit-content;
    background-color: var(--abu-abu);
}

.cardMobil img {
    width: 380px;
}

.cardMobil .merekMobil {
    font-size: var(--h2-font-size);
}
.cardMobil .hargaMobil {
    font-size: var(--h3-font-size);
}
.cardMobil .infoMobil {
    font-size: var(--normal-font-size);
}
.cardMobil .lihatDetilKendaraan {
    width: fit-content;
    height: fit-content;
    background-color: var(--accent-color);
    color: var(--putih);
    text-decoration: none;
}
